$color1: #2c2c2c !default; // darkest
$color2: #74f2df !default; // lightest
$color3: #e6db74 !default; // lighter
$color4: #f92672 !default; // vibrant
$color5: #FFFFFF !default; // white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #222222 !default; // black
$color9: #ff5050 !default; // red
$color10: #ca8f04 !default; // dark goldenrod
