$color1: #2c2c2c; // darkest
$color2: #74f2df; // lightest
$color3: #e6db74; // lighter
$color4: #f92672; // vibrant
$color5: #FFFFFF; // white
$color6: #df405a; // error red
$color7: #79bd9a; // succ green
$color8: #222222; // black
